.left-arrow, .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all .1s ease-in-out;
  background-color: rgba(59, 59, 59, 0.5);
  opacity: 0;
  height: 100%;
  width: 50px;
  cursor: pointer;
  z-index: 1;
}

.right-arrow {
  right: 0;
}

.left-arrow {
  left: 0;
}

.left-arrow:hover {
  opacity: 1;
}

.right-arrow:hover {
  opacity: 1;
}

.movie-list {
  transition: all 1s ease-in-out;
  display: flex;
  position: relative;
  max-width: 800px;
  border: 1px solid gold;
}

.movie-list-container {
  border: 3px solid purple;
  overflow: hidden;
  position: relative;
}

.movie {
  min-width: 200px;
  border: 1px solid blue;
}